requests
fastapi
httpx
uvicorn
pyyaml
jsonlines

# For testing
pytest
opentelemetry-sdk==1.21.0
opentelemetry-exporter-jaeger==1.21.0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-instrumentation-httpx==0.42b0